.intro {
  position: relative;
}

.intro-text-container {
  position: absolute;
  top: 55%;
  left: 100px;
  color: #006a4f;
  width: 35%;
}

.greeting {
  font-size: 64px;
  margin: 0;
}

.bio {
  font-size: 24px;
}

.intro-image-container {
  width: 100vw;
  height: calc(100vh - 64px);
  overflow: hidden;
}

#intro-image {
  height: 100%;
  width: 120%;
  object-fit: cover;
  object-position: 100% 40%;
}
